<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @test.task %>
</p>

<p>
  <strong>In:</strong>
  <%= @test.in %>
</p>

<p>
  <strong>Out:</strong>
  <%= @test.out %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
